body {
    background-image: url(imgs/bg.jpg);
    color: white;
}

h1 {
    font-family: gutterpigeon;
    text-align: center;
}

h3 {
    font-family: rochestertwee;
    text-align: center;
}

h4 {
    font-family: rochestertwee;
    text-align: center;
}

@font-face {
    font-family: 'gutterpigeon';
    src: url('fonts/gutterpigeon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rochestertwee';
    src: url('fonts/rochestertwee.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'anonymouspro';
    src: url('fonts/anonymouspro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.infoheejin {
    max-width: 600px; 
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

ul {
    font-family: anonymouspro;
    font-weight: lighter;
    list-style-type: disc;
    list-style-position: inside;
    padding: 0;
    margin: 0;
}

ul li {
    margin-bottom: 10px;
}

.heejinprofile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    block-size: 120vh;
}

.heejin {
    height: 250px;
    width: 250px;
    overflow: hidden;
    border-radius: 15px;
}

.heejin img {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heejingif {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.jhgif {
    width: 20px;
    height: 20px;
    margin-inline: 10px;
}
